p{
	font-size: 60px;
	text-align: right;
}
#parentTable{
	height: 500px;
	width: 400px;
}
#screen{
	height:100px; 
	width:406px;
	background: blue;
}
#keypadBody{
	height: 400px;
	width: 400px;
}
#numericKeypad{
	background: red;
	height: 400px;
	width: 300px;
}
#opratorKeypad{
	background: yellow;
	height: 400px;
	width: 100px;
}
.numericButton{
	height: 50px;
	width: 50px;
}
.opratorButton{
	height: 40px;
	width: 60px;
}
.centralAlign{
	text-align: center;
}


